<html>  
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">  
    </head>
    <style>  
        body {
            font-family:arial;
            font-size: 9pt;
        }  
        .email-nameprice {
            font-family:arial;
            font-size: 9pt;
        }
    </style>

    <body bgcolor="#FFFFFF" text="#000000">  
        <p>Thank you for creating a {{siteName}} account.To complete the registration process, please choose one of the options below to verify your e-mail address.</p>
        <p>Creating an account allows you to check out quickly, access your past orders, create wish lists, and more.</p>
        <p>Verifying your e-mail address ensures that only you have access to your account information.</p>
        <p>To confirm your email address, choose one of the following options:
            <br>1.     Click this link: <a href="{{verificationLink}}" />
            <br>2.     Copy and paste this URL into your browser&rsquo;s address bar: {{verificationLink}}
        </p>
        <p>Thank you for shopping at {{siteName}}!</p>
        <p>Sincerely,</p>
    </body>
</html>
