<html>  
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">  
    </head>
    <style>  
        body {
            font-family:arial;
            font-size: 9pt;
        }
    </style>

    <body bgcolor="#FFFFFF" text="#000000">  
        <p>Hello {{firstname}},</p>
        <p>This is your recovery code {{code}}</p>
        <p>Sincerely,</p>
    </body>
</html>